# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env

# Local databases
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store

# Streamlit
.streamlit/secrets.toml